In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
user = "markytics_ipack"
password = "Markytics123456"
db = "markytics_ipack_dev"
port = "5432"
server = "markytics-ipack.cvofp8qgswsz.ap-south-1.rds.amazonaws.com"
engine = create_engine(
    f"postgresql+psycopg2://{user}:{password}@{server}:{port}/{db}"
)

In [3]:
sql_query1 = f""" select * from "qaApp_printsamplegeometricaldimensions" """
import openpyxl as xl
wb = xl.load_workbook(r'./01-QHSE-FRM-44-01 - Printed sample Geometrical Dimensions.xlsx')
print_df = pd.read_sql_query(sql_query1,engine)
print_df

,id,date,week,operator,qc_user,machine,sleeve_type,variant,mc_speed,work_no,roll_no,supervisor,status,variant_id
0,1,2022-11-10,12,Purushottam shivprakash gupta,mikhail,machine,sleeve type,IBA 80S,60,123,569,None,None,None
1,2,None,None,None,mikhail,None,None,None,None,None,None,None,None,None
2,3,None,None,None,mikhail,None,None,None,None,None,None,None,None,None
3,4,None,None,None,mikhail,None,None,None,None,None,None,None,None,None
4,5,None,None,None,mikhail,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,81,2022-12-04,49,Samaryh,None,machine,1,IBA 250S,2,12,90,None,None,None
81,82,2022-12-04,49,Samaryh,rohit,machine,1,IBA 250S,2,12,90,rohit,Pending,8
82,83,2022-12-04,49,SMahicas,rohit,machine,1,IBA 250S,2,144,90,rohit,Pending,
83,84,2022-12-04,49,Nonijas,rohit,machine,1,IBA 250S,2,1442,90,rohit,Completed,8
84,85,2022-12-05,49,Afas,kelvin,machine,7,IBA 125S 4mm,90,12,90,qhse_sup,Pending,2